GameServer/data/static_data/items/item_templates.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="../modifiers.xsd"/>
    <xs:include schemaLocation="../skill_tree/skill_tree.xsd"/>
    <xs:include schemaLocation="../bonuses/bonuses.xsd"/>

    <xs:element name="item_templates">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item_template" type="itemTemplate"
                            minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Godstone">
        <xs:attribute name="skillid" type="xs:int"/>
        <xs:attribute name="skilllvl" type="xs:int"/>
        <xs:attribute name="probability" type="xs:int"/>
        <xs:attribute name="probabilityleft" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="Stigma">
        <xs:sequence>
            <xs:element name="require_skill" type="RequireSkill" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="skillid" type="xs:int"/>
        <xs:attribute name="skilllvl" type="xs:int"/>
        <xs:attribute name="shard" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="RequireSkill">
        <xs:sequence>
            <xs:element name="skillId" type="xs:int" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="skilllvl" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="itemTemplate">
        <xs:sequence>
            <xs:element name="modifiers" type="Modifiers" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="actions" type="ItemActions" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="godstone" type="Godstone" minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="stigma" type="Stigma" minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="bonus" type="ItemBonus" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="return_alias" type="xs:string"/>
        <xs:attribute name="return_world" type="xs:int" default="0"/>
        <xs:attribute name="equipment_type" type="equipType"/>
        <xs:attribute name="slot" type="xs:int" default="0"/>
        <xs:attribute name="usedelayid" type="xs:int" default="0"/>
        <xs:attribute name="usedelay" type="xs:int" default="0"/>
        <xs:attribute name="cash_item" type="xs:int" default="0"/>
        <xs:attribute name="dmg_decal" type="xs:int" default="0"/>
        <xs:attribute name="weapon_boost" type="xs:int" default="0"/>
        <xs:attribute name="attack_type" type="xs:string"/>
        <xs:attribute name="attack_gap" type="xs:float" default="0"/>
        <xs:attribute name="desc" type="xs:int" default="0"/>
        <xs:attribute name="gender" type="xs:string"/>
        <xs:attribute name="restrict" type="xs:string"/>
        <xs:attribute name="option_slot_bonus" type="xs:int" default="0"/>
        <xs:attribute name="bonus_apply" type="bonusApplyType"/>
        <xs:attribute name="no_enchant" type="xs:boolean"/>
        <xs:attribute name="can_proc_enchant" type="xs:boolean"/>
        <xs:attribute name="can_fuse" type="xs:boolean"/>
        <xs:attribute name="drop" type="xs:boolean"/>
        <xs:attribute name="dye" type="xs:boolean"/>
        <xs:attribute name="race" type="itemRace"/>
        <xs:attribute name="origRace" type="itemRace"/>
        <xs:attribute name="aic" type="xs:int" default="0"/>
        <xs:attribute name="ai" type="xs:int" default="0"/>
        <xs:attribute name="ap" type="xs:int" default="0"/>
		<xs:attribute name="extra_currency_item" type="xs:int" default="0"/>
		<xs:attribute name="extra_currency_item_count" type="xs:int" default="0"/>
        <xs:attribute name="price" type="xs:int" default="0"/>
        <xs:attribute name="quality" type="itemQuality"/>
        <xs:attribute name="item_category" type="itemCategory"/>
        <xs:attribute name="item_type" type="itemType"/>
        <xs:attribute name="max_stack_count" type="xs:int" default="1"/>
        <xs:attribute name="armor_type" type="armorType"/>
        <xs:attribute name="weapon_type" type="weaponType"/>
        <xs:attribute name="mask" type="xs:int" default="0"/>
        <xs:attribute name="level" type="xs:int" default="0"/>
        <xs:attribute name="id" type="itemId" use="required"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="quest" type="xs:int" default="0"/>
        <xs:attribute name="expire_mins" type="expireMins"/>
        <xs:attribute name="cash_minute" type="expireMins"/>
        <xs:attribute name="exchange_mins" type="expireMins"/>

    </xs:complexType>

    <xs:simpleType name="itemSlot">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAIN_HAND"/>
            <xs:enumeration value="SUB_HAND"/>
            <xs:enumeration value="HAND_MAIN_OR_SUB"/>
            <xs:enumeration value="HELMET"/>
            <xs:enumeration value="TORSO"/>
            <xs:enumeration value="GLOVES"/>
            <xs:enumeration value="BOOTS"/>
            <xs:enumeration value="EARRINGS_LEFT"/>
            <xs:enumeration value="EARRINGS_RIGHT"/>
            <xs:enumeration value="EARRING_RIGHT_OR_LEFT"/>
            <xs:enumeration value="RING_LEFT"/>
            <xs:enumeration value="RING_RIGHT"/>
            <xs:enumeration value="RING_RIGHT_OR_LEFT"/>
            <xs:enumeration value="NECKLACE"/>
            <xs:enumeration value="SHOULDER"/>
            <xs:enumeration value="PANTS"/>
            <xs:enumeration value="POWER_SHARD_RIGHT"/>
            <xs:enumeration value="POWER_SHARD_LEFT"/>
            <xs:enumeration value="SHARD_RIGHT_OR_LEFT"/>
            <xs:enumeration value="WINGS"/>
            <xs:enumeration value="WAIST"/>
            <xs:enumeration value="TORSO_GLOVE_FOOT_SHOULDER_LEG"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="AbstractItemAction" abstract="true"/>

    <xs:complexType name="ItemActions">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="skilllearn" type="SkillLearnAction"
                        minOccurs="0" maxOccurs="1"/>
            <xs:element name="skilluse" type="SkillUseAction"
                        minOccurs="0" maxOccurs="1"/>
            <xs:element name="enchant" type="EnchantItemAction"
                        minOccurs="0" maxOccurs="1"/>
            <xs:element name="queststart" type="QuestStartAction"
                        minOccurs="0" maxOccurs="1"/>
            <xs:element name="dye" type="DyeAction"
                        minOccurs="0" maxOccurs="1"/>
            <xs:element name="craftlearn" type="CraftLearnAction"
                        minOccurs="0" maxOccurs="1"/>
            <xs:element name="extract" type="ExtractAction"
                        minOccurs="0" maxOccurs="1"/>
            <xs:element name="toypetspawn" type="ToyPetSpawnAction"
                        minOccurs="0" maxOccurs="1"/>
            <xs:element name="read" type="ReadAction"
                        minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SkillLearnAction">
        <xs:complexContent>
            <xs:extension base="AbstractItemAction">
                <xs:attribute name="race" type="skillRace"/>
                <xs:attribute name="level" type="xs:int"/>
                <xs:attribute name="class" type="skillPlayerClass"/>
                <xs:attribute name="skillid" type="xs:int"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SkillUseAction">
        <xs:complexContent>
            <xs:extension base="AbstractItemAction">
                <xs:attribute name="skillid" type="xs:int"/>
                <xs:attribute name="level" type="xs:int"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EnchantItemAction">
        <xs:complexContent>
            <xs:extension base="AbstractItemAction">
                <xs:attribute name="count" type="xs:int"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ExtractAction">
        <xs:complexContent>
            <xs:extension base="AbstractItemAction"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DyeAction">
        <xs:complexContent>
            <xs:extension base="AbstractItemAction">
                <xs:attribute name="color" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="QuestStartAction">
        <xs:complexContent>
            <xs:extension base="AbstractItemAction"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CraftLearnAction">
        <xs:complexContent>
            <xs:extension base="AbstractItemAction">
                <xs:attribute name="recipeid" type="xs:int"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ToyPetSpawnAction">
        <xs:complexContent>
            <xs:extension base="AbstractItemAction">
                <xs:attribute name="npcid" type="xs:int"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ReadAction">
        <xs:complexContent>
            <xs:extension base="AbstractItemAction"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="equipType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARMOR"/>
            <xs:enumeration value="WEAPON"/>
            <xs:enumeration value="NONE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="itemId">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="100000000"/>
            <xs:maxInclusive value="200000000"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="expireMins">
        <xs:restriction base="xs:int">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="61"/>
            <xs:enumeration value="120"/>
            <xs:enumeration value="4321"/>
            <xs:enumeration value="10081"/>
            <xs:enumeration value="20161"/>
            <xs:enumeration value="21601"/>
            <xs:enumeration value="43201"/>
            <xs:enumeration value="129601"/>
            <xs:enumeration value="259200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="armorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHAIN"/>
            <xs:enumeration value="CLOTHES"/>
            <xs:enumeration value="LEATHER"/>
            <xs:enumeration value="PLATE"/>
            <xs:enumeration value="ROBE"/>
            <xs:enumeration value="SHARD"/>
            <!-- todo to category -->
            <xs:enumeration value="ARROW"/>
            <xs:enumeration value="SHIELD"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="weaponType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAGGER_1H"/>
            <xs:enumeration value="MACE_1H"/>
            <xs:enumeration value="SWORD_1H"/>
            <xs:enumeration value="TOOLHOE_1H"/>
            <xs:enumeration value="BOOK_2H"/>
            <xs:enumeration value="ORB_2H"/>
            <xs:enumeration value="POLEARM_2H"/>
            <xs:enumeration value="STAFF_2H"/>
            <xs:enumeration value="SWORD_2H"/>
            <xs:enumeration value="TOOLPICK_2H"/>
            <xs:enumeration value="TOOLROD_2H"/>
            <xs:enumeration value="BOW"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="itemQuality">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMMON"/>
            <xs:enumeration value="RARE"/>
            <xs:enumeration value="LEGEND"/>
            <xs:enumeration value="UNIQUE"/>
            <xs:enumeration value="EPIC"/>
            <xs:enumeration value="MYTHIC"/>
            <xs:enumeration value="JUNK"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="itemCategory">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AC_HEAD"/>
            <xs:enumeration value="ACCESSORY"/>
            <xs:enumeration value="ADHESIVE"/>
            <xs:enumeration value="ARROW"/>
            <xs:enumeration value="ARTIFACTSTONE"/>
            <xs:enumeration value="AXE"/>
            <xs:enumeration value="BACKPACK"/>
            <xs:enumeration value="BADGE"/>
            <xs:enumeration value="BAR"/>
            <xs:enumeration value="BARK"/>
            <xs:enumeration value="BATTERY"/>
            <xs:enumeration value="BEAD"/>
            <xs:enumeration value="BEAK"/>
            <xs:enumeration value="BEAR_HEAD"/>
            <xs:enumeration value="BELT"/>
            <xs:enumeration value="BINDSTONE"/>
            <xs:enumeration value="BLADE"/>
            <xs:enumeration value="BLOOD"/>
            <xs:enumeration value="BOARD"/>
            <xs:enumeration value="BOLUS"/>
            <xs:enumeration value="BOMB"/>
            <xs:enumeration value="BONE"/>
            <xs:enumeration value="BOOK"/>
            <xs:enumeration value="BOTTLE"/>
            <xs:enumeration value="BOUQUET"/>
            <xs:enumeration value="BOW"/>
            <xs:enumeration value="BOX"/>
            <xs:enumeration value="BRANCH"/>
            <xs:enumeration value="BUCKET"/>
            <xs:enumeration value="BUTTON"/>
            <xs:enumeration value="CACTUS"/>
            <xs:enumeration value="CANDY"/>
            <xs:enumeration value="CARAPACE"/>
            <xs:enumeration value="CASH_AC_HEAD"/>
            <xs:enumeration value="CASH_ACTION"/>
            <xs:enumeration value="CASH_ACTION_BLUE"/>
            <xs:enumeration value="CASH_ACTION_CANCAN"/>
            <xs:enumeration value="CASH_ACTION_DEAD"/>
            <xs:enumeration value="CASH_ACTION_DRUM"/>
            <xs:enumeration value="CASH_ACTION_EIGHT"/>
            <xs:enumeration value="CASH_ACTION_FALSE"/>
            <xs:enumeration value="CASH_ACTION_FIVE"/>
            <xs:enumeration value="CASH_ACTION_FOUR"/>
            <xs:enumeration value="CASH_ACTION_GUM"/>
            <xs:enumeration value="CASH_ACTION_HARP"/>
            <xs:enumeration value="CASH_ACTION_HUG"/>
            <xs:enumeration value="CASH_ACTION_JUGG"/>
            <xs:enumeration value="CASH_ACTION_MOCK"/>
            <xs:enumeration value="CASH_ACTION_NINE"/>
            <xs:enumeration value="CASH_ACTION_ONE"/>
            <xs:enumeration value="CASH_ACTION_PAPERS"/>
            <xs:enumeration value="CASH_ACTION_PETAL"/>
            <xs:enumeration value="CASH_ACTION_PIPE"/>
            <xs:enumeration value="CASH_ACTION_PLANE"/>
            <xs:enumeration value="CASH_ACTION_ROCK"/>
            <xs:enumeration value="CASH_ACTION_SAXOPH"/>
            <xs:enumeration value="CASH_ACTION_SCISSOR"/>
            <xs:enumeration value="CASH_ACTION_SEVEN"/>
            <xs:enumeration value="CASH_ACTION_SING"/>
            <xs:enumeration value="CASH_ACTION_SIX"/>
            <xs:enumeration value="CASH_ACTION_SURR"/>
            <xs:enumeration value="CASH_ACTION_THREE"/>
            <xs:enumeration value="CASH_ACTION_TRUE"/>
            <xs:enumeration value="CASH_ACTION_TWO"/>
            <xs:enumeration value="CASH_ACTION_TWOFLAG"/>
            <xs:enumeration value="CASH_ACTION_WHITE"/>
            <xs:enumeration value="CASH_ACTION_ZERO"/>
            <xs:enumeration value="CASH_AIONJEWELS"/>
            <xs:enumeration value="CASH_AMERICAN_DRESS_BODY"/>
			<xs:enumeration value="CASH_BEAR_HEAD"/>
            <xs:enumeration value="CASH_BINYEO_HEAD"/>
            <xs:enumeration value="CASH_BOOK"/>
            <xs:enumeration value="CASH_BOW"/>
            <xs:enumeration value="CASH_BOX"/>
            <xs:enumeration value="CASH_CARD"/>
            <xs:enumeration value="CASH_CARD_TITLE"/>
            <xs:enumeration value="CASH_CHERUBIM_HEAD"/>
            <xs:enumeration value="CASH_CHESTNUTS_HEAD"/>
            <xs:enumeration value="CASH_COIN"/>
            <xs:enumeration value="CASH_COUPON_CUSTOMIZE"/>
            <xs:enumeration value="CASH_COUPON_HAIR_EXCHANGE_M"/>
            <xs:enumeration value="CASH_COUPON_HAIR_EXCHANGE_W"/>
            <xs:enumeration value="CASH_COUPON_SEX_EXCHANGE"/>
            <xs:enumeration value="CASH_DAENGGI_HEAD"/>
            <xs:enumeration value="CASH_DAGGER"/>
            <xs:enumeration value="CASH_DARU_HEAD"/>
            <xs:enumeration value="CASH_DEBRIE_BODY"/>
            <xs:enumeration value="CASH_DEBRIE_GLOVE"/>
            <xs:enumeration value="CASH_DEBRIE_HEAD"/>
            <xs:enumeration value="CASH_DEBRIE_SHOES"/>
			<xs:enumeration value="CASH_DEVA_BODY"/>
			<xs:enumeration value="CASH_DEVA_HEAD"/>
            <xs:enumeration value="CASH_DEVIL_HEAD"/>
            <xs:enumeration value="CASH_DYE_BLACK"/>
            <xs:enumeration value="CASH_DYE_DEEP_BLUE"/>
            <xs:enumeration value="CASH_DYE_DEEP_PURPLE"/>
            <xs:enumeration value="CASH_DYE_GREEN"/>
            <xs:enumeration value="CASH_DYE_YELLOW"/>
            <xs:enumeration value="CASH_DYE_OLIVE_GREEN"/>
            <xs:enumeration value="CASH_DYE_ORANGE"/>
            <xs:enumeration value="CASH_DYE_PINK"/>
            <xs:enumeration value="CASH_DYE_RED"/>
            <xs:enumeration value="CASH_DYE_ROMANTIC_PURPLE"/>
            <xs:enumeration value="CASH_DYE_WHITE"/>
            <xs:enumeration value="CASH_EUROPEAN_DRESS_BODY"/>
            <xs:enumeration value="CASH_FEED"/>
            <xs:enumeration value="CASH_FETHLOT_HEAD"/>
            <xs:enumeration value="CASH_FIRECRACKER"/>
            <xs:enumeration value="CASH_FOOLSDAY_BODY"/>
            <xs:enumeration value="CASH_FOOLSDAY_GLOVE"/>
            <xs:enumeration value="CASH_FOOLSDAY_HEAD"/>
            <xs:enumeration value="CASH_FOOLSDAY_SHOES"/>
            <xs:enumeration value="CASH_FRILLFAIMAM_HEAD"/>
            <xs:enumeration value="CASH_FUNGY_HEAD"/>
            <xs:enumeration value="CASH_GACHAE_HEAD"/>
            <xs:enumeration value="CASH_GLASSES"/>
            <xs:enumeration value="CASH_GRAPE_HEAD"/>
            <xs:enumeration value="CASH_H2SWORD"/>
            <xs:enumeration value="CASH_HEAD"/>
            <xs:enumeration value="CASH_HIIV_HEAD"/>
            <xs:enumeration value="CASH_KOREANDRESS_BODY_M"/>
            <xs:enumeration value="CASH_KOREANDRESS_BODY_W"/>
            <xs:enumeration value="CASH_LINEAGE2_BODY"/>
            <xs:enumeration value="CASH_MACE"/>
            <xs:enumeration value="CASH_MANDURI_HEAD"/>
            <xs:enumeration value="CASH_MINX_HEAD"/>
			<xs:enumeration value="CASH_MISSA_BODY"/>
			<xs:enumeration value="CASH_MISSA_HEAD"/>
            <xs:enumeration value="CASH_MUTA_HEAD"/>
            <xs:enumeration value="CASH_NAMBAWI_HEAD"/>
            <xs:enumeration value="CASH_ORB"/>
            <xs:enumeration value="CASH_PETADOPTION"/>
			<xs:enumeration value="CASH_PILOT_HEAD"/>
            <xs:enumeration value="CASH_POLEARM"/>
            <xs:enumeration value="CASH_POLYMORPH_CANDY"/>
            <xs:enumeration value="CASH_PORGUSS_BODY"/>
            <xs:enumeration value="CASH_PORGUSS_GLOVE"/>
            <xs:enumeration value="CASH_PORGUSS_HEAD"/>
            <xs:enumeration value="CASH_PORGUSS_SHOES"/>
			<xs:enumeration value="CASH_RABBIT_HEAD"/>
            <xs:enumeration value="CASH_RUSSIAN_DRESS_BODY"/>
            <xs:enumeration value="CASH_SANTA_BODY_M"/>
            <xs:enumeration value="CASH_SANTA_BODY_W"/>
            <xs:enumeration value="CASH_SANTA_HEAD"/>
            <xs:enumeration value="CASH_SHEEP_HEAD"/>
            <xs:enumeration value="CASH_SHIELD"/>
            <xs:enumeration value="CASH_SOCKS"/>
            <xs:enumeration value="CASH_SPAKY_HEAD"/>
            <xs:enumeration value="CASH_SPRIGG_HEAD"/>
            <xs:enumeration value="CASH_STAFF"/>
            <xs:enumeration value="CASH_SWIMSUIT"/>
            <xs:enumeration value="CASH_SWORD"/>
            <xs:enumeration value="CASH_VALENTINEDAY_BODY"/>
            <xs:enumeration value="CASH_VALENTINEDAY_HEAD"/>
            <xs:enumeration value="CASH_VALENTINEDAY_SHOES"/>
            <xs:enumeration value="CASH_VIKING_HEAD"/>
            <xs:enumeration value="CASH_WEDDINGDRESS_BODY"/>
            <xs:enumeration value="CASH_WHITEDAY_BODY"/>
            <xs:enumeration value="CASH_WHITEDAY_HEAD"/>
            <xs:enumeration value="CASH_WGCOS"/>
            <xs:enumeration value="CASH_ZAIF_HEAD"/>
            <xs:enumeration value="CASH_ZERO"/>
            <xs:enumeration value="CH_GLOVE"/>
            <xs:enumeration value="CH_HEAD"/>
            <xs:enumeration value="CH_PANTS"/>
            <xs:enumeration value="CH_SHOES"/>
            <xs:enumeration value="CH_SHOULDER"/>
            <xs:enumeration value="CH_TORSO"/>
            <xs:enumeration value="CHAIN"/>
            <xs:enumeration value="CHANGE_CHARACTER_NAME"/>
            <xs:enumeration value="CHANGE_LEGION_NAME"/>
            <xs:enumeration value="CHARCOAL"/>
            <xs:enumeration value="CHERUBIM_HEAD"/>
            <xs:enumeration value="CHINESEDRESS"/>
            <xs:enumeration value="CHOCOLATE"/>
            <xs:enumeration value="CL_GLOVE"/>
            <xs:enumeration value="CL_PANTS"/>
            <xs:enumeration value="CL_SHOES"/>
            <xs:enumeration value="CL_TORSO"/>
            <xs:enumeration value="CLAW"/>
            <xs:enumeration value="CLOAK"/>
            <xs:enumeration value="CLOTH"/>
            <xs:enumeration value="COIN"/>
            <xs:enumeration value="COMPASS"/>
            <xs:enumeration value="CONTROLLER"/>
            <xs:enumeration value="COOKIE"/>
            <xs:enumeration value="CRYSTAL"/>
            <xs:enumeration value="CRYSTALBALL"/>
            <xs:enumeration value="CRUST"/>
            <xs:enumeration value="CUBE"/>
            <xs:enumeration value="CUP"/>
            <xs:enumeration value="DAGGER"/>
            <xs:enumeration value="DANCE"/>
            <xs:enumeration value="DARK_WING"/>
            <xs:enumeration value="DISH"/>
            <xs:enumeration value="DYE_HAIR"/>
            <xs:enumeration value="DYE_SKIN"/>
            <xs:enumeration value="DRAGEL"/>
            <xs:enumeration value="DRAGONHIDE"/>
            <xs:enumeration value="DRAGONHORN"/>
            <xs:enumeration value="DRAGONPACK"/>
            <xs:enumeration value="DRAGONSCALE"/>
            <xs:enumeration value="DRAGONWING"/>
            <xs:enumeration value="DRANA"/>
            <xs:enumeration value="DRAZMA"/>
            <xs:enumeration value="DRINK"/>
            <xs:enumeration value="DUST"/>
            <xs:enumeration value="EARRING"/>
            <xs:enumeration value="EGG"/>
            <xs:enumeration value="EYE"/>
            <xs:enumeration value="ELEMENTALSTONE"/>
            <xs:enumeration value="ELEMENTALWATER"/>
            <xs:enumeration value="ELEMENTALWATER_EMPTY"/>
            <xs:enumeration value="ELIM_SKILLSTONE"/>
            <xs:enumeration value="EMBLEM"/>
            <xs:enumeration value="ENCHANTPACK"/>
            <xs:enumeration value="ENCHANTSTONE"/>
            <xs:enumeration value="ENHANCED"/>
            <xs:enumeration value="ETC"/>
            <xs:enumeration value="FANTA_GRAPE"/>
            <xs:enumeration value="FANTA_ORANGE"/>
            <xs:enumeration value="FEATHER"/>
            <xs:enumeration value="FERN"/>
            <xs:enumeration value="FISH"/>
            <xs:enumeration value="FLAG"/>
            <xs:enumeration value="FLASK"/>
            <xs:enumeration value="FLOUR"/>
            <xs:enumeration value="FLOWER"/>
            <xs:enumeration value="FOSSIL"/>
            <xs:enumeration value="FRUIT"/>
            <xs:enumeration value="GAS"/>
            <xs:enumeration value="GEAR"/>
            <xs:enumeration value="GEM"/>
            <xs:enumeration value="GEMPACK"/>
            <xs:enumeration value="GEMPODER"/>
            <xs:enumeration value="GEMSTONE"/>
            <xs:enumeration value="GLASSES"/>
            <xs:enumeration value="GOATEE"/>
            <xs:enumeration value="GRAIN"/>
            <xs:enumeration value="H2SWORD"/>
            <xs:enumeration value="HAIR"/>
            <xs:enumeration value="HALLOWEEN_HEAD"/>
            <xs:enumeration value="HAMMER"/>
            <xs:enumeration value="HANDKERCHIEF"/>
            <xs:enumeration value="HEAD"/>
            <xs:enumeration value="HEADGEAR"/>
            <xs:enumeration value="HEARBAND"/>
            <xs:enumeration value="HEART"/>
            <xs:enumeration value="HEART_HEAD"/>
            <xs:enumeration value="HELM"/>
            <xs:enumeration value="HERB"/>
            <xs:enumeration value="HIGHDRESSL"/>
            <xs:enumeration value="HIGHDRESSLO"/>
            <xs:enumeration value="HIGHDRESSS"/>
            <xs:enumeration value="HILT"/>
            <xs:enumeration value="HOE"/>
            <xs:enumeration value="HOLYSTONE"/>
            <xs:enumeration value="HOOD"/>
            <xs:enumeration value="HOOF"/>
            <xs:enumeration value="HORN"/>
            <xs:enumeration value="INGOT"/>
            <xs:enumeration value="INK"/>
            <xs:enumeration value="INSTRUMENT"/>
            <xs:enumeration value="YARN"/>
            <xs:enumeration value="JAPANESEDRESS"/>
            <xs:enumeration value="JELLY"/>
            <xs:enumeration value="JUTE"/>
            <xs:enumeration value="KEY"/>
            <xs:enumeration value="KNIFE"/>
            <xs:enumeration value="LAMP"/>
            <xs:enumeration value="LEAF"/>
            <xs:enumeration value="LEATHER"/>
            <xs:enumeration value="LEG"/>
            <xs:enumeration value="LETTER"/>
            <xs:enumeration value="LOG"/>
            <xs:enumeration value="LT_GLOVE"/>
            <xs:enumeration value="LT_HEAD"/>
            <xs:enumeration value="LT_PANTS"/>
            <xs:enumeration value="LT_SHOES"/>
            <xs:enumeration value="LT_SHOULDER"/>
            <xs:enumeration value="LT_TORSO"/>
            <xs:enumeration value="MACE"/>
            <xs:enumeration value="MACEBODY"/>
            <xs:enumeration value="MACEHEAD"/>
            <xs:enumeration value="MAGICBALL"/>
            <xs:enumeration value="MAGICSTONE"/>
            <xs:enumeration value="MAGICSWORD"/>
            <xs:enumeration value="MANE"/>
            <xs:enumeration value="MANUFACTURE"/>
            <xs:enumeration value="MAP"/>
            <xs:enumeration value="MARBLE"/>
            <xs:enumeration value="MEAT"/>
            <xs:enumeration value="METAL"/>
            <xs:enumeration value="MIRROR"/>
            <xs:enumeration value="MOLD"/>
            <xs:enumeration value="MOSS"/>
            <xs:enumeration value="MOVE"/>
            <xs:enumeration value="MUCUS"/>
            <xs:enumeration value="MUSHROOM"/>
            <xs:enumeration value="NECKLACE"/>
            <xs:enumeration value="NIPPER"/>
            <xs:enumeration value="NODDLES"/>
            <xs:enumeration value="OD"/>
            <xs:enumeration value="ODEQUIPMENT"/>
            <xs:enumeration value="OLDCROWN"/>
            <xs:enumeration value="OLDCUP"/>
            <xs:enumeration value="OLDSEAL"/>
            <xs:enumeration value="OLDTORSO"/>
            <xs:enumeration value="ORB"/>
            <xs:enumeration value="ORB_EARTH"/>
            <xs:enumeration value="ORB_FIRE"/>
            <xs:enumeration value="ORB_WATER"/>
            <xs:enumeration value="ORB_WIND"/>
            <xs:enumeration value="ORDPACK"/>
            <xs:enumeration value="ORGAN"/>
            <xs:enumeration value="PAGE"/>
            <xs:enumeration value="PAPER"/>
            <xs:enumeration value="PATTERN"/>
            <xs:enumeration value="PETADOPTION"/>
            <xs:enumeration value="PICK"/>
            <xs:enumeration value="PINCER"/>
            <xs:enumeration value="PL_GLOVE"/>
            <xs:enumeration value="PL_HEAD"/>
            <xs:enumeration value="PL_PANTS"/>
            <xs:enumeration value="PL_SHOES"/>
            <xs:enumeration value="PL_SHOULDER"/>
            <xs:enumeration value="PL_TORSO"/>
            <xs:enumeration value="PLANEBLADE"/>
            <xs:enumeration value="PLATE"/>
            <xs:enumeration value="POLEARM"/>
            <xs:enumeration value="POLEARMBLADE"/>
            <xs:enumeration value="POLEARMBODY"/>
            <xs:enumeration value="POT"/>
            <xs:enumeration value="POTION"/>
            <xs:enumeration value="POUCH"/>
            <xs:enumeration value="POWDER"/>
            <xs:enumeration value="QINA"/>
            <xs:enumeration value="QUEST_SCROLL"/>
            <xs:enumeration value="RABBIT_HEAD"/>
            <xs:enumeration value="RANDOMPACK"/>
            <xs:enumeration value="RAWHIDE"/>
            <xs:enumeration value="RB_GLOVE"/>
            <xs:enumeration value="RB_HEAD"/>
            <xs:enumeration value="RB_PANTS"/>
            <xs:enumeration value="RB_SHOES"/>
            <xs:enumeration value="RB_SHOULDER"/>
            <xs:enumeration value="RB_TORSO"/>
            <xs:enumeration value="REPAIRSTONE"/>
            <xs:enumeration value="RING"/>
            <xs:enumeration value="ROCK"/>
            <xs:enumeration value="ROCKPACK"/>
            <xs:enumeration value="ROD"/>
            <xs:enumeration value="ROOT"/>
            <xs:enumeration value="SAC"/>
            <xs:enumeration value="SACK"/>
            <xs:enumeration value="SALVE"/>
            <xs:enumeration value="SAND"/>
            <xs:enumeration value="SANDPAPER"/>
            <xs:enumeration value="SCALE"/>
            <xs:enumeration value="SCOOP"/>
            <xs:enumeration value="SCROLL"/>
            <xs:enumeration value="SEAL"/>
            <xs:enumeration value="SEAWEED"/>
            <xs:enumeration value="SEED"/>
            <xs:enumeration value="SEEFOOD"/>
            <xs:enumeration value="SHACKLES"/>
            <xs:enumeration value="SHAKER"/>
            <xs:enumeration value="SHELL"/>
            <xs:enumeration value="SHIELD"/>
            <xs:enumeration value="SHINE"/>
            <xs:enumeration value="SHOP_PRESET_DEFAULT"/>
            <xs:enumeration value="SIEGE"/>
            <xs:enumeration value="SKILLBOOK"/>
            <xs:enumeration value="SKULL"/>
            <xs:enumeration value="SLATE"/>
            <xs:enumeration value="SPAWN"/>
            <xs:enumeration value="SPECIALBOX"/>
            <xs:enumeration value="SPORE"/>
            <xs:enumeration value="SPOROCYST"/>
            <xs:enumeration value="SPRIGG_HEAD"/>
            <xs:enumeration value="SQUAREWOOD"/>
            <xs:enumeration value="STAFF"/>
            <xs:enumeration value="STAFFBODY"/>
            <xs:enumeration value="STIGMA"/>
            <xs:enumeration value="STING"/>
            <xs:enumeration value="STONE"/>
            <xs:enumeration value="STRAP"/>
            <xs:enumeration value="STUD"/>
            <xs:enumeration value="SUB_MATTER"/>
            <xs:enumeration value="SUNFLOWER_HEAD"/>
            <xs:enumeration value="SURKANA"/>
            <xs:enumeration value="SWORD"/>
            <xs:enumeration value="TAIL"/>
            <xs:enumeration value="TAIL_SCORPION"/>
            <xs:enumeration value="TAIWANESEDRESS"/>
            <xs:enumeration value="TEA"/>
            <xs:enumeration value="TESTTUBE"/>
            <xs:enumeration value="TEXTILE"/>
            <xs:enumeration value="THORN"/>
            <xs:enumeration value="THREAD"/>
            <xs:enumeration value="TOOL"/>
            <xs:enumeration value="TOOTH"/>
            <xs:enumeration value="TREE"/>
            <xs:enumeration value="TULIP_HEAD"/>
            <xs:enumeration value="TUNIC"/>
            <xs:enumeration value="TUSK"/>
            <xs:enumeration value="VEGETABLE"/>
            <xs:enumeration value="WATERDROP"/>
            <xs:enumeration value="WHETSTONE"/>
            <xs:enumeration value="WHIP"/>
            <xs:enumeration value="WING"/>
            <xs:enumeration value="WIRE"/>
            <xs:enumeration value="WOOD"/>
            <xs:enumeration value="WOOL"/>
            <xs:enumeration value="XPBOOST"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="itemType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORMAL"/>
            <xs:enumeration value="ABYSS"/>
            <xs:enumeration value="DRACONIC"/>
            <xs:enumeration value="DEVANION"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="itemRace">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELYOS"/>
            <xs:enumeration value="ASMODIANS"/>
            <xs:enumeration value="ALL"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="bonusApplyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EQUIP"/>
            <xs:enumeration value="INVENTORY"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ItemBonus">
        <xs:attribute name="type" type="bonusType"/>
        <xs:attribute name="bonusLevel" type="xs:string"/>
    </xs:complexType>

</xs:schema>

